assets/swagger.json
assets/provisioner
assets/ALL-LICENSE
assets/bootia32.efi
assets/bootia64.efi
assets/bootx64.efi
assets/busybox
assets/esxi.0
assets/ipxe.efi
assets/ipxe.pxe
assets/jq
assets/ldlinux.c32
assets/libutil.c32
assets/lpxelinux.0
assets/pxechn.c32
assets/wimboot
embed.go
