DEFAULT discovery
PROMPT 0
TIMEOUT 10
LABEL discovery
  KERNEL vmlinuz0
  APPEND initrd=stage1.img rootflags=loop root=live:/sledgehammer.iso rootfstype=auto ro liveimg rd_NO_LUKS rd_NO_MD rd_NO_DM provisioner.web={{.ProvFileURL}} provisioner.api={{.ProvApiURL}} stage2={{.ProvFileURL}}/stage2.img
  IPAPPEND 2
