#!ipxe
chain tftp://{{.ProvIp}}/${netX/ip}.ipxe && goto bail || goto sledgehammer
:sledgehammer
kernel tftp://{{.ProvIp}}/vmlinuz0 rootflags=loop root=live:/sledgehammer.iso rootfstype=auto ro liveimg rd_NO_LUKS rd_NO_MD rd_NO_DM provisioner.web={{.ProvFileURL}} provisioner.api={{.ProvApiURL}} stage2={{.ProvFileURL}}/stage2.img BOOTIF=01-${netX/mac:hexhyp}
initrd tftp://{{.ProvIp}}/stage1.img
boot
:bail
exit
