delay=1
timeout=20
verbose=5
image=vmlinuz0
label=discovery
append="rootflags=loop root=live:/sledgehammer.iso rootfstype=auto ro liveimg rd_NO_LUKS rd_NO_MD rd_NO_DM provisioner.web={{.ProvFileURL}} provisioner.api={{.ProvApiURL}} stage2={{.ProvFileURL}}/stage2.img"
initrd=stage1.img
