body {
  font-family: Droid Sans, sans-serif;
}

.interface-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

a.nav-link {
  color: #fff !important;
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
}

h2 a:not(.header_btn) {
  color: #547f00 !important;
}

.header__btn {
  background-color: #547f00;
  border-radius: 4px;
  color: #fff !important;
  font-size: .9em;
  font-weight: 700;
  padding: 2px;
  text-decoration: none;
}

.header__btn:hover {
  background-color: #33691E;
  cursor: pointer;
}

.section-head {
  font-weight: bold;
}

a.nav-link:hover {
  text-decoration: underline;
}

.updating-content {
  pointer-events: none;
  opacity: 0.6;
}

tbody.expanded > tr:last-child {
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.1));
}

.input-table td {
  border-bottom: none !important;
  padding: 3px !important;
}

.input-table .expand {
  cursor: pointer;
  display: flex;
  font-size: 15px;
  justify-content: center;
  margin: 0;
}

.interface-pair {
  align-items: center;
  border: none;
  color: #547f00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.interface-pair header {
  font-size: 20px;
}

.interface-pair subhead {
  font-size: 15px;
}

footer {
  color: #444;
}