@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(css/font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(css/font/MaterialIcons-Regular.woff2) format('woff2'),
       url(css/font/MaterialIcons-Regular.woff) format('woff'),
       url(css/font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons, button.icon-button {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

body {
  font-family: Droid Sans, sans-serif;
}

.interface-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

a.nav-link {
  color: #fff !important;
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
}

h2 a:not(.header_btn) {
  color: #547f00 !important;
}

h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__btn {
  background-color: #547f00;
  border-radius: 4px;
  color: #fff !important;
  font-size: .9em;
  font-weight: 700;
  padding: 2px;
  text-decoration: none;
}

.header__btn:hover, .header__btn:focus {
  background-color: #33691E;
  cursor: pointer;
}

.rotate {
  -webkit-animation: rotate 0.5s linear infinite;
          animation: rotate 0.5s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.section-head {
  font-weight: bold;
}

a.nav-link:hover, a.nav-link:focus {
  text-decoration: underline;
}

.updating-content {
  pointer-events: none;
  opacity: 0.6;
}

table {
  position: relative;
}

tbody.expanded::after {
  background-color: #fff;
  bottom: 0;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.input-table td {
  border-bottom: none !important;
  padding: 3px !important;
}

.input-table .expand {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.interface-pair {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: #547f00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
}

.interface-pair header {
  font-size: 20px;
}

.interface-pair subhead {
  font-size: 15px;
}

footer {
  color: #444;
}

button {
  background-color: #547f00;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px #999;
          box-shadow: 0 1px 2px #999;
  color: #fff;
  cursor: pointer;
  padding: 4px;
  margin: 4px;
  text-transform: uppercase;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

button.icon-button {
  border-radius: 50%;
  position: relative !important;
}

button.flat {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.flat:hover {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.icon-buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

button:active {
  background-color: #33691E
}

button:hover, button:focus {
  outline: none;
  -webkit-box-shadow: 0 2px 4px #999;
          box-shadow: 0 2px 4px #999;
}

button:not(.rotate):hover > .tooltip, button:not(.rotate):focus > .tooltip {
  display: block;
}

button > .tooltip, span > .tooltip {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  color: #fff;
  display: none;
  font-family: Droid Sans, sans-serif;
  font-size: 14px;
  left: 50%;
  margin: 4px;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
}

input, select {
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #222;
  padding: 2px;
}

input:focus, select:focus {
  border-bottom: 2px solid #55f;
  outline: none;
}

.login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  max-width: 400px;
  padding: 40px;
}

.swagger-ui-wrap {
  position: relative;
}

.swagger-ui-wrap .tabs {
  border-bottom: 2px solid #ccc;
  margin-left: -20px;
  margin-top: 20px;
  width: calc(100% + 40px);
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: auto;
  position: relative;
}

.tabs .tab {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid transparent;
  border-bottom: none;
  color: #ccc;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  z-index: 5;
}

.tabs i {
  padding-right: 4px;
}

.tabs .active {
  border-color: #ccc;
  color: #999;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.tabs .active::after {
  background-color: #fff;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 5;
}

.login-input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

.login-inputs {
  border-top: 2px solid #ccc;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.login-input input ~ i {
  color: #ccc;
  margin-right: 8px;
}

.login-input input:focus ~ i {
  color: #55f;
}

.login-inputs::before, .login-inputs::after, .swagger-ui-wrap .tabs::before, .swagger-ui-wrap .tabs::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(transparent));
  background: linear-gradient(to bottom, #ccc, transparent);
  content: '';
  height: 40px;
  position: absolute;
  top: 0;
  width: 2px;
}

.swagger-ui-wrap .tabs::before, .swagger-ui-wrap .tabs::after {
  top: 35px;
}

.login-inputs::before, .swagger-ui-wrap .tabs::before {
  left: 0;
}

.login-inputs::after, .swagger-ui-wrap .tabs::after {
  right: 0;
}

.login-hint {
  color: #aaa;
  font-size: 12px;
  font-style: italic;
  margin: 10px;
}

.login-hint a {
  color: #547f00;
}

.welcome-box {
  border-top: thin solid #ccc;
  color: #333;
  max-width: 800px;
  padding: 20px;
}

.welcome-box h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 16px;
}

.welcome-box p {
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.welcome-box a {
  color: #547f00;
}

.welcome-menu {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome-menu section{
  margin: 20px;
}

.welcome-menu header {
  margin: 10px;
}

.welcome-menu section, .welcome-menu article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome-menu header {
  font-size: 16px;
  font-weight: bold;
}

.welcome-menu article a i {
  margin-right: 4px;
  padding: 4px;
}

.welcome-menu article a span {
  text-decoration: underline;
}

.welcome-menu article a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.card {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px #999;
          box-shadow: 0 2px 4px #999;
  display: block;
  margin: 8px auto;
  min-width: 300px;
  max-width: 600px;
}

.card-toolbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #547f00;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4px;
}

.card-toolbar h2 {
  color: #fff !important;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 8px !important;
}

.card-code pre::before {
  counter-increment: line;
  content: counter(line);
}

.card-content pre {
  max-height: 400px;
  overflow: auto;
}

.floating {
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  z-index: 999;
}

tbody.error, tbody.new, tbody.edited {
  border-bottom: thin solid #ddd;
  position: relative;
}

tbody.error::before, tbody.new::before, tbody.edited::before {
  bottom: 8px;
  font-style: italic;
  left: 8px;
  opacity: 0.4;
  position: absolute;
}

tbody.error::before {
  content: 'Error';
}

tbody.error {
  background-color: #fdd;
}

tbody.new::before {
  content: 'New';
}

tbody.new {
  background-color: #dfd;
}

tbody.edited::before {
  content: 'Edited';
}

tbody.edited {
  background-color: #eee;
}
