{{ if .ParamExists "additional-interfaces" }}
#
# This template adds additional interfaces to sledgehammer.
#
# Required Parameters: additional-interfaces
# Optional Parameters: 
#
# Parameter YAML format:
#
# additional-interfaces: enp0s8
#
# Defaults:
# additional-interfaces - Function is enabled if and only local_repo is a value
#

dhclient -r && rm /var/lib/dhclient/dhclient.leases
for intf in $BOOTDEV {{ .Param "additional-interfaces" }}
do
  dhclient --no-pid "$intf"
done

{{ end }}
