{{if .ParamExists "proxy-servers"}}
#
# This template populates the /etc/environment with 
# https, http, and no proxy variables. It also creates
# a file in /etc/profile.d for general shell use.
# 
# Runs as part of a shell script for kickstart or net-post-install
# The template does nothing if proxy-servers is undefined
#
# Required Parameters: proxy-servers
#
# Parameter YAML format:
#
# proxy-servers:
#   - url: https://ip:port
#     address: ip
#   - url: https://ip:port
#     address: ip
#
# Defaults:
# proxy-servers - empty and only the first entry is used.
#
if [[ -e /etc/apt/apt.conf.d ]] ; then
    echo "Acquire::http::Proxy \"{{index (.Param "proxy-servers") 0 "url"}}\";" >/etc/apt/apt.conf.d/00-proxy
fi

# Setup a proxy for the environment
echo "http_proxy={{index (.Param "proxy-servers") 0 "url"}}" >> /etc/environment
echo "https_proxy={{index (.Param "proxy-servers") 0 "url"}}" >> /etc/environment
echo "no_proxy=127.0.0.1,localhost,::1,{{index (.Param "proxy-servers") 0 "address"}}" >> /etc/environment

# Setup bash proxy env
mkdir -p /etc/profile.d
echo "http_proxy={{index (.Param "proxy-servers") 0 "url"}}" >> /etc/profile.d/proxy.sh
echo "https_proxy={{index (.Param "proxy-servers") 0 "url"}}" >>  /etc/profile.d/proxy.sh
echo "no_proxy=127.0.0.1,localhost,::1,{{index (.Param "proxy-servers") 0 "address"}}" >> /etc/profile.d/proxy.sh
{{end}}
