.*.swp
bin/terraform
bin/drpcli
bin/dr-provision
bin/terraform-provider-packet
bin/yq
tmp/
.terraform/
terraform.tfstate
dr-provision-install/
private-content/**
drpcli
*.bak
*.backup
5min-drp-ssh-key*
packet-ipmi-plugin-create.json
stagemap-create.json
!private-content/secrets
