
.interface-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

a:not(#logo) {
  color: #547f00 !important;
}

.input-table td:first-child {
  font-weight: bold;
  margin-right: 5px;
  text-align: right;
}

.interface-pair {
  align-items: center;
  border: none;
  color: #547f00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.interface-pair header {
  font-size: 20px;
}

.interface-pair subhead {
  font-size: 15px;
}