[Unit]
Description=RocketSkates Integrated DHCP and File Provisioner
Documentation=http://rocket-skates.readthedocs.io/en/latest/
After=network.target

[Service]
ExecStart=/usr/local/bin/rocket-skates
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TasksMax=infinity

[Install]
WantedBy=multi-user.target